body {
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background: #003f8e;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

h2 {
  color: #003f8e;
}

section {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h1, h2 {
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
  font-size: 0.9em;
}
